.caixa3{
    background-color: #F9F9F9;
}

.imagem2{
   
    background-image: url(https://miro.medium.com/max/7060/1*qVox5OIt8BuvTpo4NoynmQ.jpeg);
    background-repeat: no-repeat;
    width: 3000px;
    min-height:200px;
    background-size:cover;
    background-position:center;

}

.textos2{
    font-weight: bold !important;
    margin-top: 40px !important;
    color: #663bca !important;
}

.btnCancelar{
    margin-right: 20px !important;
}